
/* --- typography --- */
body {
	color:#969696;
	font-size:16px;
	overflow-x:hidden;
	font-family: 'Courier New', Courier New;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:700;
	color:#ddbebe;
	font-family: 'Courier New', Courier New;
}

h1 {
	font-size:54px;
}

h2 {
	font-size:36px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:16px;
}

a {
	color:#080808;
	-webkit-transition:0.2s color;
	transition:0.2s color;
}

a:hover,
a:focus{
	color:#ffffff;
    text-decoration: none;
    outline: none;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none
}

.white-text {
	color:#FFF;
}

/* --- Section --- */
.section {
	position:relative;
	padding-top:80px;
	padding-bottom:80px;
}

.section-header .title {
	font-family: 'Dancing Script', cursive;
	margin-top:0px;
}

.title:after {
	content:"";
	display: block;
	width: 15px;
	height: 2px;
	background-color: #fafafa;
	margin: 15px 0px 30px;
}

.text-center .title:after {
	margin: 15px auto 30px;
}

.section-header .sub-title {
	font-weight:400;
	color: #ffffff;
}

/* --- Background Image --- */
.bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-position:center;
	background-size:cover;
	z-index:-1;
}

.bg-image.bg-parallax {
	background-attachment:fixed;
}

.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity: 0.7;
}

/* --- Buttons --- */
.main-button {
	display:inline-block;
	padding:15px 30px;
	border:none;
	border-radius:40px;
	background-color:#ffffff;
	color:rgb(112, 15, 15);
	text-transform: uppercase;
	font-weight: 700;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}
.main-button:hover {
	color:#FFF;
	opacity:0.8;
}

/* --- Inputs --- */
.input {
	width: 100%;
	height: 40px;
	padding: 0px 10px;
	border: 2px solid #ECECEC;
	border-radius: 40px;
	background: transparent;
}

textarea.input {
	height: 160px;
	padding: 10px;
	border-radius: 20px;
}


/*------------------------------------*\
	Reservation
\*------------------------------------*/
#reservation.section {
	padding-bottom:0px;
}

#reservation .bg-image  {
	height:75%;
}

.reserve-form {
	padding: 30px 2% 100px;
	background: rgba(21, 21, 21, 0.9);
}

.reserve-form  .form-group {
	margin-bottom:30px;
}

.reserve-form  .form-group label {
	color: #FFF;
	margin-left: 10px;
}

.reserve-form .input {
    background-color: rgb(75, 29, 29);
    color: white;
}

/*------------------------------------*\
	Opening Time
\*------------------------------------*/
.opening-time {
	padding: 40px 8% 40px;
	background: #151515;
	margin-top: 4px;
}

.opening-time ul li .day {
	display:inline-block;
	font-weight:400;
	color:#fff;
}

.opening-time ul li .hours {
	float: right;
	font-size: 14px;
	margin-top: 12px;
	font-weight:400;
	color:#ffffff;
}

/*------------------------------------*\
	My Reservation
\*------------------------------------*/
.myreservation {
	padding: 40px 8% 40px;
	background: #151515;
	margin-top: 40px;
}

.myreservation ul li .day {
	display:inline-block;
	font-weight:400;
	color:#fff;
}

.myreservation ul li .hours {
	float: right;
	font-size: 14px;
	margin-top: 12px;
	font-weight:400;
	color:#ffffff;
}

.p{
    color: white;
}
